$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap-material-design/dist/sassc/bootstrap-material-design";
@import "~bootstrap-material-design/dist/sassc/ripples";
// float button
#back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 25px;
	right: 25px;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand>img {
	height: 100%;
	width: auto;
	padding: 7px 14px;
}

@media (max-width: $screen-sm-min) {
	.navbar-brand>img {
		padding: 0px;
	}
}

.glyphicon {
	margin-right: 5px;
}

.book {
	margin: 0px;
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.thumbnail {
	margin: 12px;
	padding: 12px;
	background-color: ghostwhite;
}

.thumbnail img {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.thumbnail img:hover {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: translatZ(0) scale(1.05);
}

.caption {
	font-size: 13;
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: 0px;
	padding-bottom: 0px;
}