footer.page-footer.blue-grey.lighten-3
	.container
		.row
			.col.l4.m6.s12
				h5.white-text Book lover
				p.grey-text.text-lighten-4
					| We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
			.col.l4.m6.s12
				h5.white-text Connect

			.col.l4.m6.s12
				h5.white-text Link
				.row
					.col.s6
						ul
							li
								a.white-text(target='_blank' rel='noopener noreferrer'  href='https://tiki.vn') Tiki.vn
							li
								a.white-text(target='_blank' rel='noopener noreferrer'  href='http://www.vinabook.com') Vinabook.com
							li
								a.white-text(target='_blank' rel='noopener noreferrer'  href='https://tinhte.vn/forums/may-doc-sach-ebook.426') Tinhte.vn
							li
								a.white-text(target='_blank' rel='noopener noreferrer'  href='http://www.taisachhay.com/') Taisachhay.com
					.col.s6
						ul
							li
								a.white-text(target='_blank' rel='noopener noreferrer'  href='http://goctruyen.com') Goctruyen.com
							li
								a.white-text(target='_blank' rel='noopener noreferrer'  href='https://www.wattpad.com') Wattpad.com
							li
								a.white-text(target='_blank' rel='noopener noreferrer'  href='http://sachnoionline.com/home.html') Sachnoionline.com
							li
								a.white-text(target='_blank' rel='noopener noreferrer'  href='http://vforum.vn/diendan/forumdisplay.php?138-Ebook-Sach&s=57bf903a0bd42fcb1e12f370098b9649') Vforum.vn

	.footer-copyright
		.container
			| Made with ❤ by 
			a.grey-text.text-lighten-4(href='https://github.com/thanhtrixx/books-ui')
				| TriLe

			span.right
				| © 2016 Book lover, All rights reserved.