footer.page-footer
	.container
		.row
			.col.l6.s12
				h5.white-text Book lover
				p.grey-text.text-lighten-4
					| We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
			.col.l6.s12
				h5.white-text Connect
				ul
					li
						a.white-text(href='#!') Link 1
					li
						a.white-text(href='#!') Link 2
					li
						a.white-text(href='#!') Link 3
					li
						a.white-text(href='#!') Link 4
	.footer-copyright
		.container
			| © 2016 Book lover, All rights reserved.
			span.right
				| Made by 
				a.grey-text.text-lighten-4(href='https://github.com/thanhtrixx/books-ui')
					| TriLe
