mixin user-block
	li
		a(href='#')
			i.material-icons.left account_circle
			| Profile
	li
		a(href='#')
			i.material-icons.left settings
			| Setting
	li
		a(href='index.html')
			i.material-icons.left exit_to_app
			| Logout

mixin top-block
	li
		a(href='#!') Month
	li
		a(href='#!') Week
	li
		a(href='#!') All