include ./header_mixis.pug

.navbar-fixed
	nav.indigo(role='navigation')
		#main-nav.nav-wrapper.container
			a.brand-logo.center(href='#!')
				img.responsive-img(src='assets/favicon.png', alt='Book lover icon')
			a#collapse.button-collapse(href='#', data-activates='navbar-collapse')
				i.material-icons menu
			// show profile image in mobile mode
			//- a.button-collapse.right(href='#', data-activates='navbar-collapse')
			//- 	img.responsive-img.circle.profile-img(src='assets/yuna.jpg')
			a.search-btn.button-collapse.right(href='#')
				i.material-icons search

			ul.left.hide-on-med-and-down
				li
					a.search-btn(href='#')
						i.material-icons.left home
						| Home

				li
					a.top-dropdown-button(href='#!', data-activates='top-dropdown')
						i.material-icons.left sort
						| Top
				li
					a(href='collapsible.html')
						i.material-icons.left refresh
						| New

			ul.right.hide-on-med-and-down
				li
					a.search-btn(href='#')
						i.material-icons.left search
						| Search
				li
					a.profile-dropdown-button(href='#!', data-activates='user-dropdown')
						img.responsive-img.circle.profile-img(src='assets/yuna.jpg')

		#search-nav.nav-wrapper.container
			form
				.input-field
					input#search(type='search', required='')
					label(for='search')
						i.material-icons search
					i.material-icons.right close

// Top dropdown in destop mode
ul#top-dropdown.dropdown-content
	+top-block
// User dropdown in destop mode
ul#user-dropdown.dropdown-content
	li
		a(href='#') Profile
	li
		a(href='#') Setting
	li
		a(href='index.html') Logout

// side nav in mobile mode
ul#navbar-collapse.side-nav
	li
		.userView
			.background
				img(src='assets/book-banner.jpeg')
			a(href='#!user')
				img.circle(src='assets/yuna.jpg')
			a(href='#!name')
				span.white-text.name John Doe
			a(href='#!email')
				span.white-text.email jdandturk@gmail.com

	li
		a(href='#')
			i.material-icons.left home
			| Home
	li
		.divider
			
	li.no-padding
		ul.collapsible.collapsible-accordion
			li
				a.collapsible-header
					| Top
					i.material-icons.left sort
					i.material-icons.right keyboard_arrow_right
				.collapsible-body
					ul
						+top-block
	li
		a.waves-effect(href='#!') New
			i.material-icons.left refresh

	li
		.divider
	li
		a.subheader User
	+user-block
