.navbar.navbar-inverse
	.container-fluid
	.container-fullwidth
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-inverse-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='javascript:void(0)')
				img(src='assets/book-icon.svg')
		.navbar-collapse.collapse.navbar-inverse-collapse
			ul.nav.navbar-nav
				li.active
					a(href='javascript:void(0)') Home
				li
					a(href='javascript:void(0)') New
				li.dropdown
					a.dropdown-toggle(href='index.html', data-toggle='dropdown')
						| Top
						b.caret
					ul.dropdown-menu
						li
							a(href='javascript:void(0)') Top in week
						li
							a(href='javascript:void(0)') Top in month
						li
							a(href='javascript:void(0)') Top
				li.dropdown
					a.dropdown-toggle(href='index.html', data-toggle='dropdown')
						| Category
						b.caret
					ul.dropdown-menu
						li
							a(href='javascript:void(0)') English
						li
							a(href='javascript:void(0)') Story
						li
							a(href='javascript:void(0)') Improve

			form.navbar-form.navbar-left
				.form-group
					input.form-control.col-md-8(type='text', placeholder='Search')
			ul.nav.navbar-nav.navbar-right
				li
					a#loginBtn(href='javascript:void(0)') Login
				li
					a#registerBtn(href='javascript:void(0)') Register