include ./mixins.pug

.navbar-fixed
	nav.indigo(role='navigation')
		#main-nav.nav-wrapper.container
			a.brand-logo.center(href='#!')
				img.responsive-img(src='assets/favicon.png', alt='Book lover icon')
			a#collapse.button-collapse(href='#', data-activates='navbar-collapse')
				i.material-icons menu
			a.search-btn.button-collapse.right(href='#')
				i.material-icons search

			ul.left.hide-on-med-and-down
				li
					a.search-btn(href='#')
						i.material-icons.left home
						| Home

				li
					a.top-dropdown-button(href='#!', data-activates='top-dropdown')
						i.material-icons.left sort
						| Top
				li
					a(href='collapsible.html')
						i.material-icons.left refresh
						| New

			ul.right.hide-on-med-and-down
				li
					a.search-btn(href='#')
						i.material-icons.left search
						| Search
				li
					a(href='badges.html')
						i.material-icons.left create
						| Signup
				li
					a(href='login.html')
						i.material-icons.left exit_to_app
						| Login

		#search-nav.nav-wrapper.container
			form
				.input-field
					input#search(type='search', required='')
					label(for='search')
						i.material-icons search
					i.material-icons.right close

// Top dropdown in destop mode
ul#top-dropdown.dropdown-content
	+top-block

ul#navbar-collapse.side-nav
	li
		.userView
			.background
				img(src='assets/book-banner.jpeg')
			a(href='#!user')
				img.circle(src='assets/user-icon.png')
			br

	li
		a(href='#')
			i.material-icons.left home
			| Home
	li
		.divider
			
	li.no-padding
		ul.collapsible.collapsible-accordion
			li
				a.collapsible-header
					| Top
					i.material-icons.left sort
					i.material-icons.right keyboard_arrow_right
				.collapsible-body
					ul
						+top-block

	li
		.divider
	li
		a.waves-effect(href='#!') New
			i.material-icons.left refresh

	//- li
	//- 	a.subheader User
	li
		.divider
	li
		a(href='badges.html')
			i.material-icons.left create
			| Signup
	li
		a(href='login.html')
			i.material-icons.left exit_to_app
			| Login
