doctype html
html
	head
		// Import Google Icon Font
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		// Import materialize.css
		//- link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
		// Let browser know website is optimized for mobile
		meta(name='author', content='TriLe')
		meta(name='description', content='The website for book lovers')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

	body

		nav.light-blue.lighten-1(role='navigation')
			#main-nav.nav-wrapper.container
				a.brand-logo(href='#!')
					i.material-icons cloud
					| Logo
				a#collapse.button-collapse(href='#', data-activates='navbar-collapse')
					i.material-icons menu
				a.search-btn.button-collapse.right(href='#')
					i.material-icons search
				
				ul.right.hide-on-med-and-down
					li
						a.search-btn(href='#')
							i.material-icons search
					li
						a(href='badges.html')
							i.material-icons view_module
					li
						a(href='collapsible.html')
							i.material-icons refresh
					li
						a(href='mobile.html')
							i.material-icons more_vert
					
				ul#navbar-collapse.side-nav
					li
						a(href='sass.html') Sass
					li
						a(href='badges.html') Components
					li
						a(href='collapsible.html') Javascript
					li
						a(href='mobile.html') Mobile

			#search-nav.nav-wrapper.container
				form
					.input-field
						input#search(type='search', required='')
						label(for='search')
							i.material-icons search
						i.material-icons close
