include mixins.pug

+html
	include header_login.pug

	.container

		.section
			a.catelory(href='#') Store
			include books.pug

		.section
			a.catelory(href='#') Improve
			include books.pug

		.section
			a.catelory(href='#') Improve
			include books.pug

	include footer.pug

	include media_play.pug
