.fixed-action-btn
	a.btn-floating.btn-large.waves-effect.waves-light.red(href='#media-play-modal')
		i.large.material-icons library_books

// Modal Structure
#media-play-modal.modal.bottom-sheet
	.modal-content
		form.center-align(action='#')
			.row
				p.range-field
					input#mesia-seeker(type='range', min='0', max='910', value='0')
			.row
					button.btn-floating.waves-effect.waves-light.btn-flat
						i.large.material-icons favorite_border
					button.btn-floating.waves-effect.waves-light.light-blue.darken-1
						i.large.material-icons replay_10
					button.btn-floating.btn-large.waves-effect.waves-light.light-blue.darken-1
						i.large.material-icons play_arrow
					button.btn-floating.waves-effect.waves-light.light-blue.darken-1
						i.large.material-icons forward_10
					button.btn-floating.waves-effect.waves-light.btn-flat
						i.large.material-icons playlist_play
