mixin html
	doctype html
	html
		head
			// Import Google Icon Font
			link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
			// Import materialize.css
			//- link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
			// Let browser know website is optimized for mobile
			meta(name='author', content='TriLe')
			meta(name='description', content='The website for book lovers')
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			meta(name='theme-color', content='#5c6bc0')
			title Book lovers
			link(rel='icon', type='image/png', href='assets/favicon.png')
		
		body
			if block
				block

mixin user-block
	li
		a(href='#')
			i.material-icons.left account_circle
			| Profile
	li
		a(href='#')
			i.material-icons.left settings
			| Setting
	li
		a(href='index.html')
			i.material-icons.left exit_to_app
			| Logout

mixin top-block
	li
		a(href='#!') Month
	li
		a(href='#!') Week
	li
		a(href='#!') All

mixin book(href, imgSrc, name, author)
	.card
		a(href=href)
			.card-image.waves-effect.waves-block.waves-light
				img.activator(src=imgSrc)
			.book-info
				p.book-name=name
				p.book-author=author
